﻿@{
    ViewBag.Title = "About";
}
<div>
    <h3>Count of Users</h3>
    <table class="table-bordered">
        <tr>
          <td>Count</td>
        </tr>
        <tr>
            <td>@ViewBag.C</td>
        </tr>
    </table>

</div>